mark {
  background-color: yellow;
  color: red;
}

h1 {
  color: #FF6C0C !important; /* Caltech Orange */
}

code {
  background-color: #fff3cd !important; /* Soft Yellow Highlight */
  color: #856404 !important;            /* Dark Brown Text for contrast */
  padding: 2px 5px;
  border-radius: 3px;
}

.highlight, .highlighter-rouge {
  background-color: #f8f9fa !important;
  border-left: 5px solid #FF6C0C; /* Adds an orange accent bar */
}