<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T8LKLDWM2F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-T8LKLDWM2F');
  </script>
</head>
<body>
  <header>
    <h1 style="color: #000000;">Hyeoksu Lee</h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>Last updated: Feb 2026 | {{ site.title }}</p>
  </footer>
</body>
</html>