<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    {% include head-custom.html %}
  </head>
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T8LKLDWM2F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T8LKLDWM2F');
  </script>

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <img src="{{site.logo | relative_url}}" alt="Hyeoksu Lee" />

        <p class="view">
          <a href="{{ site.github.owner_url }}">GitHub</a> /
          <a href="https://www.linkedin.com/in/hyeoksu-lee-759778130/">Linkedin</a> /
          <a href="https://scholar.google.com/citations?user=i6rPvsgAAAAJ&hl=en">Google Scholar</a> <br>
          Email: hyeoksu@caltech.edu
        </p>
      </header>

      <div class="scroll-container">
        <navbar>
          <p><em>Last updated: July 2026</em></p>
        </navbar>
        {{ content }}
      </div>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
